version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      github-actions-same-version:
        patterns:
          - "*"
    labels:
      - dependencies
      - github-actions
